/* ============================================
   COLOR SYSTEM
   ============================================ */

/* CSS Custom Properties for Color */
:root {
    --background: #000000;
    --foreground: #ffffff;

    /*
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  */
    --primary: #a80606;
    --primary-foreground: #ffffff;
    --secondary: #ffffff;
    --secondary-foreground: #000000;
    /*
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  */
    --accent: transparent;
    --accent-foreground: #ffffff;
    /*
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  */

    --red-0: #fff5f5;
    --red-1: #ffe3e3;
    --red-2: #ffc9c9;
    --red-3: #ffa8a8;
    --red-4: #ff8787;
    --red-5: #ff6b6b;
    --red-6: #fa5252;
    --red-7: #e31c1c;
    --red-8: #e03131;
    --red-9: #c92a2a;
    --red-10: #a80606;
    --red-11: #962020;
    --red-12: #7d1a1a;
    --gray-0: #f9f9fb;
    --gray-1: #f3f4f6;
    --gray-2: #f5f5f5;
    --gray-3: #d1d5db;
    --gray-4: #9ca3af;
    --gray-5: #696969;
    --gray-6: #4b5563;
    --gray-7: #374151;
    --gray-8: #1f2937;
    --gray-9: #111827;
    --gray-10: #040415;
    --white-0: #ffffff;
    --black: #000000;
    --black-alpha-40: rgba(0, 0, 0, 0.4);
}

.text-red-0 {
    color: var(--red-0);
}
.text-red-1 {
    color: var(--red-1);
}
.text-red-2 {
    color: var(--red-2);
}
.text-red-3 {
    color: var(--red-3);
}
.text-red-4 {
    color: var(--red-4);
}
.text-red-5 {
    color: var(--red-5);
}
.text-red-6 {
    color: var(--red-6);
}
.text-red-7 {
    color: var(--red-7);
}
.text-red-10 {
    color: var(--red-10);
}

.text-red-11 {
    color: var(--red-11);
}

.text-red-12 {
    color: var(--red-12);
}
.text-gray-0 {
    color: var(--gray-0);
}
.text-gray-1 {
    color: var(--gray-1);
}

.text-gray-2 {
    color: var(--gray-2);
}
.text-gray-3 {
    color: var(--gray-3);
}
.text-gray-4 {
    color: var(--gray-4);
}
.text-gray-5 {
    color: var(--gray-5);
}
.text-gray-6 {
    color: var(--gray-6);
}
.text-gray-7 {
    color: var(--gray-7);
}
.text-gray-8 {
    color: var(--gray-8);
}
.text-gray-9 {
    color: var(--gray-9);
}
.text-gray-10 {
    color: var(--gray-10);
}
.text-primary {
    color: var(--primary);
}
.text-primary-foreground {
    color: var(--primary-foreground);
}
.text-secondary-foreground {
    color: var(--secondary-foreground);
}
.text-black {
    color: var(--black);
}
.text-black {
    color: var(--black);
}
.text-black-alpha-40 {
    color: var(--black-alpha-40);
}