/* ============================================
   COLOR SYSTEM
   ============================================ */

/* CSS Custom Properties for Color */
:root {
    --background: #000000;
    --foreground: #ffffff;
    --primary: #a80606;
    --primary-foreground: #ffffff;
    --secondary: #ffffff;
    --secondary-foreground: #000000;
    --accent: transparent;
    --accent-foreground: #ffffff;
    --red-0: #fff5f5;
    --red-1: #ffe3e3;
    --red-2: #ffc9c9;
    --red-3: #ffa8a8;
    --red-4: #ff8787;
    --red-5: #ff6b6b;
    --red-6: #fa5252;
    --red-7: #e31c1c;
    --red-8: #e03131;
    --red-9: #c92a2a;
    --red-10: #a80606;
    --red-11: #962020;
    --red-12: #7d1a1a;
    --gray-0: #f9f9fb;
    --gray-1: #f3f4f6;
    --gray-2: #f5f5f5;
    --gray-3: #d1d5db;
    --gray-4: #9ca3af;
    --gray-5: #696969;
    --gray-6: #4b5563;
    --gray-7: #374151;
    --gray-8: #1f2937;
    --gray-9: #111827;
    --gray-10: #040415;
    --white-0: #ffffff;
    --black: #000000;
    --black-alpha-40: rgba(0, 0, 0, 0.4);
    --card-shadow: 0px 0px 22px -7px #4d4d4d99;
    --card-shadow-mobile: 0px 0px 18.3px -5.82px #4D4D4D99;
}

.text-red-0 {
    color: var(--red-0);
}
.text-red-1 {
    color: var(--red-1);
}
.text-red-2 {
    color: var(--red-2);
}
.text-red-3 {
    color: var(--red-3);
}
.text-red-4 {
    color: var(--red-4);
}
.text-red-5 {
    color: var(--red-5);
}
.text-red-6 {
    color: var(--red-6);
}
.text-red-7 {
    color: var(--red-7);
}
.text-red-10 {
    color: var(--red-10);
}

.text-red-11 {
    color: var(--red-11);
}

.text-red-12 {
    color: var(--red-12);
}
.text-gray-0 {
    color: var(--gray-0);
}
.text-gray-1 {
    color: var(--gray-1);
}

.text-gray-2 {
    color: var(--gray-2);
}
.text-gray-3 {
    color: var(--gray-3);
}
.text-gray-4 {
    color: var(--gray-4);
}
.text-gray-5 {
    color: var(--gray-5);
}
.text-gray-6 {
    color: var(--gray-6);
}
.text-gray-7 {
    color: var(--gray-7);
}
.text-gray-8 {
    color: var(--gray-8);
}
.text-gray-9 {
    color: var(--gray-9);
}
.text-gray-10 {
    color: var(--gray-10);
}
.text-primary {
    color: var(--primary);
}
.text-primary-foreground {
    color: var(--primary-foreground);
}
.text-secondary-foreground {
    color: var(--secondary-foreground);
}
.text-black {
    color: var(--black);
}
.text-black {
    color: var(--black);
}
.text-black-alpha-40 {
    color: var(--black-alpha-40);
}
