/* ============================================
   COLOR SYSTEM
   ============================================ */

/* CSS Custom Properties for Color */
:root {
    --background: #000000;
    --foreground: #FFFFFF;

    /*
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  */
    --primary: #a80606;
    --primary-foreground: #ffffff;
    --secondary: #ffffff;
    --secondary-foreground: #000000;
    /*
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  */
  --accent: transparent;
  --accent-foreground: #FFFFFF;
  /*
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  */

    --red-0: #fff5f5;
    --red-1: #ffe3e3;
    --red-2: #ffc9c9;
    --red-3: #ffa8a8;
    --red-4: #ff8787;
    --red-5: #ff6b6b;
    --red-6: #fa5252;
    --red-7: #f03e3e;
    --red-8: #e03131;
    --red-9: #c92a2a;
    --red-10: #a80606;
    --red-11: #962020;
    --red-12: #7d1a1a;
}

.text-primary {
    color: var(--primary);
}
.text-primary-foreground {
    color: var(--primary-foreground);
}
.text-secondary-foreground {
    color: var(--secondary-foreground);
}
