.plane-card {
    width: 214px;
    padding: 1rem 1.5rem; /* 16px 24px */
}

.plane-card-title {
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    font-weight: var(--font-weight-bold);
}

.plane-card-stars {
    margin-top: 0.375rem;
}

.plane-card-last-text {
    margin-top: 0.375rem;
}

@media (max-width: 480px) {
    .plane-card {
        width: 177px;
        padding: 0.5rem 1.125rem;
    }
    .plane-card-title {
        font-size: 0.73875rem; /* 11.82px */
        line-height: 1.136875rem; /* 18.91px */
        font-weight: var(--font-weight-semibold);
    }
    .plane-card-stars {
        margin-top: 0.5rem; /* 8px */
    }
    .plane-card-last-text {
        margin-top: 0.5rem; /* 8px */
    }
}
