.heading {
  font-weight: 700;
  font-size: 5rem; /* 80px */
  line-height: 1;
}

.heading-2 {
  font-weight: 700;
  font-size: 3.5rem; /* 56px */
  line-height: 1;
}

@media (max-width: 480px) {
  .heading {
    font-size: 3rem; /* 48px */
    line-height: 3.5rem; /* 56px */
  }
  .heading-2 {
    font-size: 2.5rem; /* 40px */
    line-height: 3.5rem; /* 56px */
  }
}

