.locate-card {
    width: 246px;
    padding: 1rem;
    border-radius: 0.75rem; /* 12px */
    .locate-time {
        font-weight: var(--font-weight-medium);
        font-size: 0.875rem; /* 14px */
        line-height: 1;
    }
    .locate-notice {
        width: fit-content;
        padding: 0.3125rem 0.625rem; /* 5px 10px */
        margin-top: 0.875rem;
        border-radius: 100px;
        font-size: 0.75rem; /* 12px */
        line-height: 1;
        .icon {
            width: 14px;
            height: 14px;
            margin-right: 0.25rem;
        }
    }
    .locate-points {
        margin-top: 1.25rem;
    }
    .locate-point {
        &.locate-point-with-line {
            .locate-location {
                min-height: 86px;
            }
        }
    }
    .locate-location {
        margin-left: 0.625rem;
    }
    .icon-label {
        position: relative;
        width: 20px;
        flex: 0 0 20px;
        .icon-container {
            position: relative;
            z-index: 1;
        }
        .icon {
            width: 16px;
            height: 16px;
            &#map-pin-icon {
                width: 20px;
                height: 20px;
            }
        }

        .root {
            position: absolute;
            top: 12px;
            bottom: 8px;
            left: calc(50% + 0px);
        }
        .line {
            border-left: 1px dashed #5d5d5d;
            height: 100%;
        }
    }
    .location-title {
        font-weight: var(--font-weight-medium);
        font-size: 0.8125rem; /* 13px */
        line-height: 1rem;
        text-transform: uppercase;
    }
    .location-address {
        margin-top: 0.5rem;
        font-weight: var(--font-weight-normal);
        font-size: 0.875rem; /* 14px */
        line-height: 1rem;
    }
}

@media (max-width: 480px) {
    .locate-card {
        width: 154px;
        padding: 0.625rem;
        border-radius: 0.5rem; /* 8px */
        .locate-time {
            font-size: 0.5475rem; /* 8.76px */
        }
        .locate-points {
            margin-top: 0.875rem;
        }
        .locate-point {
            &.locate-point-with-line {
                .locate-location {
                    min-height: 54px;
                }
            }
        }
        .locate-notice {
            padding: 0.1875rem 0.375rem; /* 3px 6px */
            margin-top: 0.5rem;
            border-radius: 62px;
            font-size: 0.469375rem; /* 7.51px */
            line-height: 1;
            .icon {
                width: 9px;
                height: 9px;
                margin-right: 0.15625rem; /* 2.5px */
            }
        }
        .icon-label {
            width: 8px;
            flex: 0 0 4px;
            .icon {
                width: 12px;
                height: 12px;
                &#map-pin-icon {
                    width: 12px;
                    height: 12px;
                }
            }
            .root {
                top: 12px;
                bottom: 5px;
            }
        }
        .location-title {
            font-size: 0.50875rem; /* 8.14px */
            line-height: 0.625rem; /* 10px */
        }
        .location-address {
            margin-top: 0.25rem;
            font-size: 0.5475rem; /* 8.76px */
            line-height: 0.625rem; /* 10px */
        }
    }
}
