.section2-containerr1 {
  display: flex;
  flex-direction: row;
}

@media (max-width: 480px) {
  .section2-containerr1 {
    flex-direction: column;
  }
  .section2-containerr1c2 {
    margin-top: var(--spacing-32);
  }
}