.car-card {
    width: 256px;
    padding: 0.625rem;
    padding-right: 1rem;
}

.car-card-text {
    margin-left: 0.5rem;
    .text1 {
        margin-bottom: 0.5rem;
        font-weight: var(--font-weight-medium);
        font-size: 0.9375rem; /* 15px */
        line-height: 1;
    }
    .text2 {
        font-weight: var(--font-weight-normal);
        font-size: 0.875rem; /* 14px */
        line-height: 1;
    }
}

.car-card-avatar {
    width: 62px;
    height: 62px;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.car-card-icon {
    margin-left: 0.5rem;
}

@media (max-width: 480px) {
    .car-card {
        width: 206px;
        padding: 0.5rem;
        padding-right: 0.75rem;
    }
    .car-card-avatar {
        width: 50px;
        height: 50px;
    }
    .car-card-text {
        .text1 {
            font-size: 0.7rem;
        }
        .text2 {
            font-size: 0.704375rem; /* 11.27px */
        }
    }
}
