.functionality-frame {
    width: 668px;
    height: 479px;
    position: relative;
    .image-container {
        border-radius: 24px;
        overflow: hidden;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@media (max-width: 480px) {
    .functionality-frame {
        width: 343px;
        height: 248px;
        border-radius: 16px;
    }
}
